<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Technology.Serialization" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Datatype" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Model" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Plugins" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Catalogs" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Technology.Scripting.Plugins" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akit5" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.5.0" newVersion="0.11.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
