<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Cecil" version="0.11.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="Tekla.Common.Geometry" version="4.6.2" targetFramework="net48" />
  <package id="Tekla.Structures" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Structures.Catalogs" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Structures.Dialog" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins" version="2024.0.4" targetFramework="net48" />
  <package id="Tekla.Technology.Akit5" version="5.15.1" targetFramework="net48" />
  <package id="Tekla.Technology.Scripting.Plugins" version="5.5.0" targetFramework="net48" />
  <package id="Tekla.Technology.Serialization" version="4.1.1" targetFramework="net48" />
  <package id="Trimble.Remoting" version="1.0.2" targetFramework="net48" />
  <package id="Trimble.Technology.Msglib" version="2.2.23222" targetFramework="net48" />
  <package id="Trimble.Technology.Rkit" version="2.3.23222" targetFramework="net48" />
</packages>